.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #333333;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    max-height: 75vh;
    overflow-y: auto;
}

.modal-title {
    margin-top: 0;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    border: none;
    padding: 0 16px;
}

.modal-button {
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 16px;
}

.modal-button:hover {
    background-color: #0056b3;
}

.btn-purple:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
    box-shadow: none;
}

.input-modal{
    background-color: #454545 !important;
    color: white !important;
    padding: 9px 13px;
}

.input-modal:hover, .input-modal:focus{
    background-color: #454545 !important;
}

.modal-content label{
    color: white !important;
}

/* Set width heigh ảnh */
.avatar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.avatar-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ant-empty-description{
    color: white !important;
}

.select-bg{
    background-color: #454545 !important;
}

.ant-select{
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
}

.ant-select-selector{
    background-color: #454545 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
    background-color: #454545 !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 9px 13px !important;
    color: white !important;
}

.ant-select-selection-item{
    line-height: normal !important;
}

.ant-select-selector input{
    height: 100% !important;
}

.ant-select-selector::after, .ant-select-selection-placeholder{
    line-height: unset !important;
}

.ant-select{
    height: unset !important;
}

.ant-select-selector:hover {
    box-shadow: inset 0 -3px 0 0 #8F48CD !important;
}

.ant-select-item-option-selected{
    background-color: #454545 !important;
    color: white !important;
}

.ant-input-status-error{
    background: #494949 !important;
    border: none;
    color: white;
}

.ant-select-item{
    color: white !important;
}

textarea.ant-input{
    background: #494949;
    border: none;
    color: white;
}

textarea.ant-input:hover, textarea.ant-input:focus{
    background: #494949;
    outline: none;
    box-shadow: none;
}

.ant-form-item-required{
    width: 100%;
}

/* .mp3-container{
    display: flex;
    flex-direction: column;
} */