.inner-image{
    aspect-ratio: 5/3;
    transition: transform 0.5s ease-in-out;
}

.inner-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.top-container {
    overflow: hidden;
    position: relative;
}

.top-container:hover span{
    display: block;
}

.top-container span {
    cursor: pointer;
    z-index: 10;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(150, 150, 150);
    opacity: 0.5;
    display: none;
}

.top-container span:hover{
    background-color: rgb(109, 109, 109);
}

.top-container .anticon-left {
    left: 30px;
}

.top-container .anticon-right {
    right: 30px;
}

.first{
    transform: translateX(-200%);
}

.prev {
    transform: translateX(-100%);
}

.active {
    transform: translateX(0);
}

.next {
    transform: translateX(100%);
}

.last {
    transform: translateX(200%);
}

.inner-musicType-container .inner-image img{
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.inner-musicType-container .inner-image{
    overflow: hidden;
    aspect-ratio: 5/2;
    border-radius: 10px;
}

.inner-musicType-container .inner-image:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}

.ant-skeleton-paragraph{
    margin: 0 !important;
}

.inner-album-container .ant-skeleton-paragraph{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ant-skeleton-paragraph li{
    background-color: #292929 !important;
    margin: 0 !important;
    margin-top: 10px !important;
}

.album-item .ant-skeleton{
    width: 100%;
    aspect-ratio: 1/1;
}

.musicType-item .ant-skeleton{
    width: 100%;
    aspect-ratio: 5/2;
}

.ant-skeleton-image{
    height: 100% !important;
}

.ant-skeleton-title{
    display: none;
}